<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mydaily">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyDailyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDaily"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.view.daily.detail.TaskAddActivity" />
        <activity
            android:name=".ui.view.keyword.settings.KeywordSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.goal.detail.GoalAddActivity"
            android:windowSoftInputMode="adjustResize"  />
        <activity
            android:name=".ui.view.keyword.KeywordAddActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.view.keyword.KeywordListActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.view.keyword.popup.KeywordPopupActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:exported="true"/>
        <activity android:name=".ui.view.keyword.KeywordSelectActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.view.daily.detail.TaskDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.view.user.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.goal.detail.GoalDetailActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.view.user.SignUpActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.view.user.SignUpTermsActivity"
            android:exported="true" />
        <activity android:name=".ui.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>